:root {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  /* overflow: hidden; */
}


footer {
  background-color: rgb(245, 238, 252);
  width: 100vw;
  height: 4rem;
  bottom: 0;
  position: fixed;
  
}

nav {
  width: 100%;
  font-size: 25px;
  text-align: center;
  padding-top: 1rem;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  color: rgb(90, 8, 90);
}

  a:hover {
    /* background-color: hsla(160, 100%, 1%, 0.2); */
    color: rgb(150, 105, 150);
  }

  nav a:focus {
    color:  rgb(150, 102, 150);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


